---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404, not found">
    <main class="max-w-4xl m-auto min-h-screen grid place-content-center text-center">
        <h1 class="text-4xl font-black mb-4">Wow, you broke it!</h1>
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGx2ZGpneHp4cWpsYXRsbWpqcW5tNThpN2hsZWt0eHphZG9jYmNrMiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/QMHoU66sBXqqLqYvGO/giphy.gif" alt="">
    </main>
</Layout>